body {
	background-color : #F3ECF7;
}

.text {
	width : 100%;
	margin-top : 5px;
	font-family : arial;
	margin-bottom : 10px;
	border-radius : 10px;
	padding : 5px;
}

fieldset {   
  -moz-border-radius:15px;  
  border-radius: 15px;  
  -webkit-border-radius: 15px;
  padding : 20px;
  width : 30%;
  margin : 0 auto;
  background-color : #E1EEEE;
}

submit {
	margin-top : 5%;
}

.dropdownlist {
	margin-top : 5px;
	margin-bottom : 10px;
	width : 200px;
}

.date { 
	margin-top : 5px;
	margin-bottom : 10px;
	width : 200px;
}

.textarea {
	width : 100%;
	margin-top : 5px;
	font-family : arial;
	margin-bottom : 10px;
	resize : none;
}

#span {
	color : red;
}